@charset "UTF-8";

/*esse comando serve pra resetar as configuraçoes aplicada pelo site NO BOX MODEL*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header li{
    display: inline;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

h1{
    color: pink;
    background-color: black;
}

.articles {
    display: flex ;
}
.articles{
    height: 1000px;
}
