@charset "UTF-8";

/*esse comando serve pra resetar as configuraçoes aplicada pelo site NO BOX MODEL*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main{
   background-color: rgb(234, 239, 248);
   font-family: 'Roboto', sans-serif;
color: rgb(0, 0, 116);
}

.container{

   padding: 16px 100px
}


header{
    background-color: rgb(3, 3, 87);
   
}
header .container, h2, h3,h4{
   font-family: 'Bungee', cursive;
   font-weight:normal;
}
 
header .container {
    color: aliceblue;
    display: flex;
    padding: 16px 100px;
    align-items: center;
    justify-content:space-between;
    
 }

 header .container li{
    display: inline;
    margin-left:16px; 
 }

header .container li a {
        color: aliceblue;
        font-weight: bolder;
        text-decoration: none;
 }
    
 #imagens .container img{
    margin-top: 30px;  
    height: 650px;
    
 }
 section{
   display: flex;
 }
 .articles article{
   margin-top: 45px;
   margin-left: -70px;
   
 }
 .articles article img {
    height: 100px;
 }

#descriçoes .container{
   margin-top: 30px;
  padding: 16px ;
  margin-left: -100px;  
   
}

.articles article p {
   width:70%;
   margin-top: 16px;
}

h2{
   font-size: 30px;
}

.container h4{
   font-size:20px;
   padding: 16px 0;

}
#contato .container {
   margin-top: 30px;
   font-size: 25px;
   margin-top:45px;
}



 main {
   display: flex;
   flex-wrap: wrap;
      
}

#redes .articles article{
margin-left: -20px;
margin-top:100px;

}

#redes .container img{
margin-top: 16px;
height: 50px; 
width:50px;
}

form input{
   
   width:300px;
}

tfoot {
   background-color: rgb(3, 3, 87);
   
}

